@import '../../assets/styles/variables';

.video-statistics {
  border-bottom: 1px solid $lighterGray;
  padding: 20px 0;

  &__title {
    color: $dark;
    font-size: 1.4rem;
    line-height: 1.3;
  }

  &__items,
  &__item {
    align-items: center;
    display: flex;
  }

  &__items {
    margin-top: 15px;
  }

  &__item {
    color: $gray;
    margin-right: 25px;
  }

  &__icon {
    fill: $gray;
    margin-right: 7px;
  }
}
