@import '../../assets/styles/variables';

.button {
  border-radius: 99px;
  cursor: pointer;
  font-weight: $fontBold;
  outline: 0;
  padding: 7px 35px;
  transition: 250ms;

  &--blue {
    background: $blue;
    border: 3px solid $blue;
    color: $white;
  }

  &--white {
    background: $white;
    border: 3px solid $white;
    color: $blue;
  }

}
