@import '../../assets/styles/variables';

.list-item {
  padding: 15px;

  &__content {
    align-items: center;
    border-radius: 7px;
    box-shadow: 14px 17px 23px rgba(0, 0, 0, 0.06);
    display: flex;
    padding: 20px;
    transition: 450ms;
  }

  &__content--focused {
    box-shadow: 14px 17px 23px rgba(0, 0, 0, 0.12), 0 0 0 3px $blue;
    transform: scale(1.05) translateY(-10px);
  }

  &__image {
    border-radius: 7px;
    height: 70px;
    margin-right: 15px;
  }

  &__title {
    line-height: 1.3;
    margin-bottom: 5px;
    max-height: 40px;
    overflow: hidden;
  }

  &__subtitle {
    font-size: 0.9rem;
  }

  &--light {
    .list-item {
      &__content {
        background: $white;
      }

      &__title {
        color: $dark;
      }

      &__subtitle {
        color: $lightGray;
      }
    }
  }

  &--dark {
    .list-item {
      &__content {
        background: $darkerBlue;
      }

      &__title {
        color: $white;
      }

      &__subtitle {
        color: $lighterBlue;
      }
    }
  }
}
