@import '../../assets/styles/variables';

.hamburger {
  align-items: center;
  background: $white;
  border-radius: 99px;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 56px;
  justify-content: center;
  left: 30px;
  overflow: hidden;
  position: absolute;
  top: 30px;
  width: 56px;
  z-index: 3;

  &__center,
  &__top,
  &__bottom {
    background: $lightBlue;
    border-radius: 10px;
    height: 3px;
    width: 30px;
  }

  &__center {
    margin: 5px 0;
  }
}
