@import '../../assets/styles/variables';

.comment {
  display: flex;
  margin: 15px 0;
  padding: 20px 40px 20px 0;
  transition: 1s;

  &--focused {
    background: $white;
    border-radius: 25px;
    box-shadow: 12px 18px 20px rgba(0, 0, 0, 0.06);
    padding: 20px;
  }

  &__image__wrapper {}

  &__image {
    border-radius: 50%;
  }

  &__content {
    padding: 7px 0 0 10px;
  }

  &__title {
    color: $gray;
    font-size: 1.1rem;
    font-weight: $fontBold;
  }

  &__subtitle {
    color: $lightBlue;
    font-size: 0.9rem;
    margin: 5px 0 10px;
  }

  &__text {
    color: $gray;
    line-height: 1.4;
    word-wrap: anywhere;
  }
}
