@import '../../assets/styles/variables';

.grid-item {
  padding: 15px;

  &__content {
    border-radius: 7px;
    box-shadow: 14px 17px 23px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    transition: 450ms;
  }

  &:hover .grid-item__content,
  &__content--focused {
    box-shadow: 14px 17px 23px rgba(0, 0, 0, 0.12), 0 0 0 3px $blue;
    transform: scale(1.05) translateY(-10px);
  }

  &__image__wrapper {
    padding-top: 55%;
    position: relative;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &__footer {
    padding: 20px;
  }

  &__title {
    font-size: 1.1rem;
    line-height: 1.3;
    margin-bottom: 10px;
    max-height: 44px;
    overflow: hidden;
  }

  &--third {
    width: percentage(1 / 3);
  }

  &--quarter {
    width: percentage(1 / 4);
  }

  &--light {
    .grid-item {
      &__content {
        background: $white;
      }

      &__title {
        color: $dark;
      }

      &__subtitle {
        color: $lightGray;
      }
    }
  }

  &--dark {
    .grid-item {
      &__content {
        background: $darkerBlue;
      }

      &__title {
        color: $white;
      }

      &__subtitle {
        color: $lighterBlue;
      }
    }
  }
}
