@import '../../assets/styles/variables';

@keyframes showSearchFormKeyboard {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.search-form {
  border-radius: 99px;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.06);
  left: 30px;
  overflow: hidden;
  position: absolute;
  top: 30px;
  z-index: 3;

  &__input {
    border: 0;
    outline: 0;
    transition: 450ms;
  }

  &__input--collapsed {
    padding: 18px 28px;
    width: 50px;
  }

  &__input--focused {
    padding: 18px 28px 18px 50px;
    width: 400px;
  }

  &__icon__wrapper {
    left: 16px;
    position: absolute;
    top: 15px;
  }

  &__icon {
    fill: $lightBlue;
  }

  &__keyboard {
    animation: showSearchFormKeyboard 1s forwards;
    background: #ECECEC;
    bottom: 0;
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.25);
    padding: 25px;
    position: fixed;
    width: 100%;
    z-index: 4;
  }
}
