@import '../../assets/styles/variables';

.return-link {
  align-items: center;
  color: $lightGray;
  display: flex;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  transition: 800ms;

  &--focused {
    color: $dark;
    padding-left: 35px;
  }

  &__icon {
    fill: $lighterGray;
    left: 0;
    margin-right: 10px;
    opacity: 0;
    position: absolute;
    top: -5px;
    transition: 1.2s;
  }

  &__icon--focused {
    fill: $dark;
    opacity: 1;
  }
}
