@import '../../assets/styles/variables';

.return-link {
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  transition: 800ms;

  &--focused {
    padding-left: 35px;
  }

  &__icon {
    left: 0;
    margin-right: 10px;
    opacity: 0;
    position: absolute;
    top: -5px;
    transition: 1.2s;
  }

  &__icon--focused {
    opacity: 1;
  }

  &--light {
    color: $lightGray;

    &.return-link--focused {
      color: $dark;
    }

    .return-link {
      &__icon--focused {
        fill: $dark;
      }
    }
  }

  &--dark {
    color: $lighterBlue;

    &.return-link--focused {
      color: $white;
    }

    .return-link {
      &__icon--focused {
        fill: $white;
      }
    }
  }
}
