@import '../../assets/styles/variables';

@keyframes zoomBackgroundVideoIn {
  from {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}

.banner {
  border-radius: 0 0 35px 35px;
  margin: auto;
  overflow: hidden;
  padding-top: 42.3%;
  position: relative;
  width: calc(100vw - 40px);

  &__background {
    animation: zoomBackgroundVideoIn 30s forwards;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__gradient__overlay {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.1)
    );
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  &__content {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
  }

  &__text {
    color: $white;
    font-size: 1.1rem;
  }

  &__title {
    color: $white;
    font-size: 2.5rem;
    font-weight: $fontBold;
    margin: 15px 0;
    max-width: 600px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  }
}
